Flask==2.2.3          # Used to build Web framework for the microservice
Werkzeug==2.2.3       # Used for file file validation and request handling
requests==2.31.0      # Used for API calls for test app
